@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Poppins";
  transition: all 300ms linear;
}
.body{
  background:  rgb(17 24 39 ) ;
  width: 100%;
  height: 100%;
  color: white;
}